services:
  app:
    build: .
    image: devover/aksaria:latest
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${DB_USER:-postgres}:${DB_PASS:-postgres}@db:5432/${DB_NAME:-aksaria}
      - NODE_ENV=production
    depends_on:
      - db

  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASS:-postgres}
      - POSTGRES_DB=${DB_NAME:-aksaria}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: